/* formulario */
.contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: $color_casiblanco; 
    padding-left: 30px; 
}
  
  
.inputForm{
    background-color: $color_casiblanco; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: $color_rosita; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}
  
  
textarea{
    background-color: $color_casiblanco; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: $color_rosita; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}
  
  
label{
    display: block; 
    float: center;  
}
  
  
.buttonForm{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: $color_rosita; 
    border-color: $color_rosita; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
}
  
  
.buttonForm{
    p{
        color: $color_casiblanco;
    }
}  

.obligatorio{
    color: $color_rosita; 
}
  
  
.aviso{
    font-size: 13px;  
    color: $color_negro;  
}
  
  
.letra1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: $color_rosita;
}
  
  
.letra3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
}
  
  
.pForm{
    font-size: 14px; 
    color: $color_negro; 
}
  
  
::-webkit-input-placeholder {
   color: $color_gris;
}
  
  
::-webkit-textarea-placeholder {
   color: $color_gris;
}
  
  

.formulario{
    input:focus{
        outline:0;
        border: 1px solid $color_verdeclaro;
    }
}

.formulario{
    textarea:focus{
        outline:0;
        border: 1px solid $color_verdeclaro;   
    }
}
  
