/* galeria */
.imgTexto{
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: $color_negro;
    margin-top: auto;
}

.galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 14%;
    margin-right: 14%;
    gap: 5%;
    position: relative;
    align-items: center;
    img{
        margin: 28px;
        border: 2px $color_gris;
        border-radius: 20px;
        box-shadow: 0 0 10px $color_negro;
    }
}

.fotoMuñeco{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px $color_negro;
}

.contenedorBanner{
    max-width: auto;
    margin: 0 auto;
    .banner{
    width: 100%;
    height: 100%;
    }
}